# ------------------------------
# Author: @luca-moraes
# Date: 11/09/2023 20:50:00 PM
# ------------------------------

# Ignore Unity files:
Temp/
Library/
Logs/

# my personal build folder (you can change the name for your personal build folder to ignore it) and build files:
build/ 

*.apk
*.aab
*.unitypackage
*.app

# Ignore Restore files:
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj
*.tmp
